.image{
    max-height: 94vh;
   
}


.bg{
    background-color: #fcfcfc;
}

@media only screen and (max-width: 768px){
    .w{
        width:15rem;
    }
    
}

.card-container{
    padding-left:0;
   box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
   border-radius: 10px;
  
   width:422px;
   justify-content:center;
   align-items:center;
}



.info{
    width:90%;
    /* margin: 1rem; */
    padding: 1rem;
}

.info h3{
    text-align: center;
}

.text{
    color: var(--main-color);
    font-family: 'Italianno', cursive;
    font-size: 2.6rem;
}

@media only screen and (max-width: 768px) {

    .card-container{
        width: 90%;
    }
}


