@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Italianno', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
ul,p{
    margin: 0;
    padding: 0;

}
p{
    text-align: start;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    /* background-color:#7D1740; */
}

.hamburger {
    display: none;
    margin-left: 1rem;
}

.car-burger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
}
.nav-menu {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--main-color);
}

.nav-link:hover{
   color: #e0e0e0
}

.nav-logo {
    font-size: 3rem;
    font-weight: 500;
    color: var(--main-color);
    margin-left: 20rem;
    text-align: center;
    font-family: 'Italianno', cursive;
}
.car {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 12;
}
.car.active{
    left: 0;
    z-index: 12;
}

.content{
    max-height:80vh;
    flex-direction: column;
}
.size{
    font-size: 1.2rem;
    text-align: center;
}

.cart {
    position: relative;
}
.scroll{
    overflow: auto;
    max-height: 80vh;
    
}
.badge{
  position:absolute;
  bottom: 0;
  left: 55%;
  background: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  padding: 2px;
}

.icon{
    color: var(--main-color);
    font-size: 2.5rem;
    cursor: pointer;
}

.price{
    font-size: 10px;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 12;
    }

    .nav-menu.active {
        left: 0;
        z-index: 12;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-link{
        color: black;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-logo{
        margin-left: 2rem;
    }

}
